Repository dadoonet/fscrawler, pull requests merged in 2024-09, with the labels that each got.

#1225 Switch to Mina SSHD for the implementation of the SSH crawler
  core/src/main/java/fr/pilato/elasticsearch/crawler/fs/FsCrawlerImpl.java
  core/src/main/java/fr/pilato/elasticsearch/crawler/fs/FsParser.java
  core/src/main/java/fr/pilato/elasticsearch/crawler/fs/FsParserAbstract.java
  core/src/main/java/fr/pilato/elasticsearch/crawler/fs/FsParserFTP.java
  core/src/main/java/fr/pilato/elasticsearch/crawler/fs/FsParserLocal.java
  core/src/main/java/fr/pilato/elasticsearch/crawler/fs/FsParserSsh.java
  crawler/crawler-abstract/src/main/java/fr/pilato/elasticsearch/crawler/fs/crawler/FileAbstractor.java
  crawler/crawler-ftp/src/main/java/fr/pilato/elasticsearch/crawler/fs/crawler/ftp/FileAbstractorFTP.java
  crawler/crawler-ssh/pom.xml
  crawler/crawler-ssh/src/main/java/fr/pilato/elasticsearch/crawler/fs/crawler/ssh/FileAbstractorSSH.java
  crawler/crawler-ssh/src/main/java/fr/pilato/elasticsearch/crawler/fs/crawler/ssh/FsCrawlerSshClient.java
  crawler/crawler-ssh/src/test/java/fr/pilato/elasticsearch/crawler/fs/crawler/ssh/FileAbstractorSSHTest.java
  crawler/crawler-ssh/src/test/resources/log4j2.xml
  elasticsearch-client/src/main/java/fr/pilato/elasticsearch/crawler/fs/client/ESBoolQuery.java
  framework/src/main/java/fr/pilato/elasticsearch/crawler/fs/framework/FsCrawlerUtil.java
  integration-tests/pom.xml
  integration-tests/src/test/java/fr/pilato/elasticsearch/crawler/fs/test/integration/AbstractITCase.java
  integration-tests/src/test/java/fr/pilato/elasticsearch/crawler/fs/test/integration/elasticsearch/FsCrawlerTestSshIT.java
  integration-tests/src/test/resources/log4j2.xml
  pom.xml
  tika/pom.xml
Labels: update, test, dependencies

#1931 Missing SL4J provider message
  .gitignore
  .run/Template JUnit.run.xml
  cli/pom.xml
  framework/pom.xml
  pom.xml
  test-framework/pom.xml
Labels: bug, component:logging

#1932 Implement SSL Verification
  .github/workflows/pr.yml
  docs/source/admin/fs/elasticsearch.rst
  elasticsearch-client/src/main/java/fr/pilato/elasticsearch/crawler/fs/client/ElasticsearchClient.java
  integration-tests/src/test/java/fr/pilato/elasticsearch/crawler/fs/test/integration/AbstractITCase.java
  settings/src/main/java/fr/pilato/elasticsearch/crawler/fs/settings/Elasticsearch.java
Labels: new, component:elasticsearch

#1510 add "Preserve Interword Spacing" and "Page Seg Mode"
  docs/source/user/ocr.rst
  settings/src/main/java/fr/pilato/elasticsearch/crawler/fs/settings/Ocr.java
  tika/src/main/java/fr/pilato/elasticsearch/crawler/fs/tika/TikaInstance.java
Labels: new

#1939 Force protobuf-java to 3.25.5
  pom.xml
Labels: security, component:extractor

#1937 Add support for REST plugins
  .github/workflows/pr.yml
  cli/pom.xml
  cli/src/main/java/fr/pilato/elasticsearch/crawler/fs/cli/FSCrawlerShutdownHook.java
  cli/src/main/java/fr/pilato/elasticsearch/crawler/fs/cli/FsCrawlerCli.java
  cli/src/main/resources/log4j2-file.xml
  cli/src/main/resources/log4j2.xml
  distribution/src/main/assembly/assembly.xml
  distribution/src/main/plugins/README.txt
  docs/source/admin/cli-options.rst
  docs/source/admin/fs/elasticsearch.rst
  docs/source/admin/fs/index.rst
  docs/source/admin/fs/local-fs.rst
  docs/source/admin/fs/rest.rst
  docs/source/release/2.10.rst
  elasticsearch-client/pom.xml
  elasticsearch-client/src/main/java/fr/pilato/elasticsearch/crawler/fs/client/ElasticsearchClient.java
  elasticsearch-client/src/test/java/fr/pilato/elasticsearch/crawler/fs/client/ElasticsearchClientIT.java
  elasticsearch-client/src/test/java/fr/pilato/elasticsearch/crawler/fs/client/TestContainerHelper.java
  elasticsearch-client/src/test/resources/elasticsearch.version.properties
  framework/pom.xml
  framework/src/main/java/fr/pilato/elasticsearch/crawler/fs/framework/JsonUtil.java
  integration-tests/pom.xml
  integration-tests/src/test/java/fr/pilato/elasticsearch/crawler/fs/test/integration/AbstractITCase.java
  integration-tests/src/test/java/fr/pilato/elasticsearch/crawler/fs/test/integration/AbstractRestITCase.java
  integration-tests/src/test/java/fr/pilato/elasticsearch/crawler/fs/test/integration/TestContainerHelper.java
  integration-tests/src/test/java/fr/pilato/elasticsearch/crawler/fs/test/integration/elasticsearch/FsCrawlerRestIT.java
  integration-tests/src/test/resources/log4j2.xml
  plugin/pom.xml
  plugin/src/main/java/fr/pilato/elasticsearch/crawler/plugins/FsCrawlerExtensionFsProvider.java
  plugin/src/main/java/fr/pilato/elasticsearch/crawler/plugins/FsCrawlerExtensionFsProviderAbstract.java
  plugin/src/main/java/fr/pilato/elasticsearch/crawler/plugins/FsCrawlerPlugin.java
  plugin/src/main/java/fr/pilato/elasticsearch/crawler/plugins/FsCrawlerPluginsManager.java
  plugins/fs-http-plugin/pom.xml
  plugins/fs-http-plugin/src/main/java/fr/pilato/elasticsearch/crawler/plugins/fs/http/FsHttpPlugin.java
  plugins/fs-http-plugin/src/main/resources/META-INF/MANIFEST.MF
  plugins/fs-http-plugin/src/test/java/fr/pilato/elasticsearch/crawler/plugins/fs/http/FsHttpPluginIT.java
  plugins/fs-http-plugin/src/test/resources/log4j2.xml
  plugins/fs-local-plugin/pom.xml
  plugins/fs-local-plugin/src/main/java/fr/pilato/elasticsearch/crawler/plugins/fs/local/FsLocalPlugin.java
  plugins/fs-local-plugin/src/main/resources/META-INF/MANIFEST.MF
  plugins/fs-local-plugin/src/test/java/fr/pilato/elasticsearch/crawler/plugins/fs/local/FsLocalPluginIT.java
  plugins/fs-local-plugin/src/test/resources/log4j2.xml
  plugins/fs-s3-plugin/pom.xml
  plugins/fs-s3-plugin/src/main/java/fr/pilato/elasticsearch/crawler/plugins/fs/s3/FsS3Plugin.java
  plugins/fs-s3-plugin/src/main/resources/META-INF/MANIFEST.MF
  plugins/fs-s3-plugin/src/test/java/fr/pilato/elasticsearch/crawler/plugins/fs/s3/FsS3PluginIT.java
  plugins/fs-s3-plugin/src/test/resources/log4j2.xml
  plugins/pom.xml
  plugins/welcome-plugin/pom.xml
  plugins/welcome-plugin/src/main/java/fr/pilato/elasticsearch/crawler/plugins/welcome/WelcomePlugin.java
  plugins/welcome-plugin/src/main/resources/META-INF/MANIFEST.MF
  plugins/welcome-plugin/src/test/java/fr/pilato/elasticsearch/crawler/plugins/welcome/WelcomePluginTest.java
  pom.xml
  rest/pom.xml
  rest/src/main/java/fr/pilato/elasticsearch/crawler/fs/rest/DocumentApi.java
  rest/src/main/java/fr/pilato/elasticsearch/crawler/fs/rest/RestServer.java
  rest/src/main/java/fr/pilato/elasticsearch/crawler/fs/rest/UploadApi.java
  test-framework/src/main/java/fr/pilato/elasticsearch/crawler/fs/test/framework/AbstractFSCrawlerTestCase.java
Labels: new, Release Highlight, component:rest
