Repository dadoonet/fscrawler, pull requests merged in 2024-01, with the labels that each got.

#1799 Add a test for mixing empty files
  crawler/crawler-fs/src/main/java/fr/pilato/elasticsearch/crawler/fs/crawler/fs/FileAbstractorFile.java
  integration-tests/src/test/java/fr/pilato/elasticsearch/crawler/fs/test/integration/elasticsearch/FsCrawlerTestEmptyFilesIT.java
  integration-tests/src/test/resources-binary/samples/test_empty_files/01-not-empty.txt
  integration-tests/src/test/resources-binary/samples/test_empty_files/02-empty.txt
  integration-tests/src/test/resources/log4j2.xml
Labels: test

#1801 Do not hide YAML parsing errors
  cli/src/main/java/fr/pilato/elasticsearch/crawler/fs/cli/FsCrawlerCli.java
  cli/src/test/java/fr/pilato/elasticsearch/crawler/fs/cli/FsCrawlerCliTest.java
  settings/src/main/java/fr/pilato/elasticsearch/crawler/fs/settings/FsSettingsFileHandler.java
Labels: bug, component:cli

#1780 Deprecate `--debug` and `--trace`
  cli/src/main/java/fr/pilato/elasticsearch/crawler/fs/cli/FsCrawlerCli.java
  cli/src/test/java/fr/pilato/elasticsearch/crawler/fs/cli/FsCrawlerCliCommandParserTest.java
  docs/source/admin/cli-options.rst
  docs/source/admin/logger.rst
Labels: remove, component:cli

#1803 Allow loading external jars
  contrib/docker-compose-example-elasticsearch/docker-compose.yml
  contrib/docker-compose-example-fscrawler/docker-compose.yml
  contrib/docker-compose-example-workplace/docker-compose.yml
  distribution/src/main/assembly/assembly.xml
  distribution/src/main/external/README.txt
  distribution/src/main/scripts/fscrawler
  distribution/src/main/scripts/fscrawler.bat
  docs/source/admin/layout.rst
  docs/source/admin/status.rst
  docs/source/index.rst
  docs/source/installation.rst
Labels: new

#1804 Fix REST error 500 when wrong field name is used
  integration-tests/src/test/java/fr/pilato/elasticsearch/crawler/fs/test/integration/AbstractRestITCase.java
  integration-tests/src/test/java/fr/pilato/elasticsearch/crawler/fs/test/integration/elasticsearch/FsCrawlerRestIT.java
  rest/src/main/java/fr/pilato/elasticsearch/crawler/fs/rest/DocumentApi.java
Labels: bug, component:rest

#1805 Support API Keys and Tokens
  3rdparty/workplacesearch-client/src/main/java/fr/pilato/elasticsearch/crawler/fs/thirdparty/wpsearch/WPSearchClient.java
  cli/src/main/java/fr/pilato/elasticsearch/crawler/fs/cli/FsCrawlerCli.java
  cli/src/test/java/fr/pilato/elasticsearch/crawler/fs/cli/FsCrawlerCliDefaultSettingsTest.java
  contrib/docker-compose-it-v6/.env
  contrib/docker-compose-it-v6/docker-compose.yml
  contrib/src/main/resources/docker-compose-it-v6/.env
  core/src/main/java/fr/pilato/elasticsearch/crawler/fs/FsParserAbstract.java
  docs/source/admin/cli-options.rst
  docs/source/admin/fs/elasticsearch.rst
  docs/source/admin/fs/index.rst
  docs/source/admin/fs/wpsearch.rst
  docs/source/installation.rst
  docs/source/release/2.10.rst
  elasticsearch-client/src/main/java/fr/pilato/elasticsearch/crawler/fs/client/ElasticsearchClient.java
  elasticsearch-client/src/main/java/fr/pilato/elasticsearch/crawler/fs/client/IElasticsearchClient.java
  elasticsearch-client/src/main/java/fr/pilato/elasticsearch/crawler/fs/client/WorkplaceSearchClient.java
  integration-tests/pom.xml
  integration-tests/src/test/java/fr/pilato/elasticsearch/crawler/fs/test/integration/AbstractFsCrawlerITCase.java
  integration-tests/src/test/java/fr/pilato/elasticsearch/crawler/fs/test/integration/AbstractITCase.java
  integration-tests/src/test/java/fr/pilato/elasticsearch/crawler/fs/test/integration/elasticsearch/ElasticsearchClientIT.java
  integration-tests/src/test/java/fr/pilato/elasticsearch/crawler/fs/test/integration/elasticsearch/FsCrawlerImplAllDocumentsIT.java
  integration-tests/src/test/java/fr/pilato/elasticsearch/crawler/fs/test/integration/elasticsearch/FsCrawlerTestRemoveDeletedIT.java
  integration-tests/src/test/java/fr/pilato/elasticsearch/crawler/fs/test/integration/elasticsearch/FsCrawlerTestSettingsIT.java
  integration-tests/src/test/java/fr/pilato/elasticsearch/crawler/fs/test/integration/workplacesearch/AbstractWorkplaceSearchITCase.java
  integration-tests/src/test/java/fr/pilato/elasticsearch/crawler/fs/test/integration/workplacesearch/WPSearchAllDocumentsIT.java
  integration-tests/src/test/java/fr/pilato/elasticsearch/crawler/fs/test/integration/workplacesearch/WPSearchIT.java
  integration-tests/src/test/resources/log4j2.xml
  settings/src/main/java/fr/pilato/elasticsearch/crawler/fs/settings/Elasticsearch.java
  settings/src/main/java/fr/pilato/elasticsearch/crawler/fs/settings/WorkplaceSearch.java
  settings/src/test/java/fr/pilato/elasticsearch/crawler/fs/settings/FsSettingsParserTest.java
Labels: new, Release Highlight, component:elasticsearch, component:workplace-search

#1752 Adding folder time info
  beans/src/main/java/fr/pilato/elasticsearch/crawler/fs/beans/Folder.java
  core/src/main/java/fr/pilato/elasticsearch/crawler/fs/FsParserAbstract.java
  docs/source/release/2.10.rst
  settings/src/main/resources/fr/pilato/elasticsearch/crawler/fs/_default/6/_settings_folder.json
  settings/src/main/resources/fr/pilato/elasticsearch/crawler/fs/_default/7/_settings_folder.json
  settings/src/test/java/fr/pilato/elasticsearch/crawler/fs/settings/FsMappingTest.java
Labels: update
